*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
}

body{
	background-color: #111;
	color: #ddd;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

main{
	flex: 1 0 auto;
}

.introducao{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 13em;
}

.introducao h1{
	font-size: 2em;
}

.introducao p{
	font-size: 1.2em;
}

.introducao button{
	background-color: #333;
	border: none;
	color: #ddd;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.2em;
	border-radius: 20px;
	height: 40px;
	font-weight: bold;
	margin-top: 10px;
	transition: 300ms ease;
}

.introducao button:hover{
	background-color: #ddd;
	color: #444;
	cursor: pointer;
}

.quiz{
	max-width: 500px;
	border-radius: 10px;
	background-color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: 9em auto;
	animation: 500ms aparecer ease;
}

.desaparecer{
	animation: 500ms desaparecer ease;
}

.quiz-header{
	height: 100px;
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	cursor: pointer;
}

.quiz-header h1{
	font-size: 2em;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.60);
	text-align: center;
}

.quiz-header .mask{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.50);
}

.quiz-body{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 160px;
	justify-content: center;
	align-items: center;
}

.option{
	background-color: #111;
	font-weight: bold;
	margin-bottom: 10px;
	color: #ddd;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	height: 40px;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	cursor: pointer;
	transition: 200ms ease;
}

.option:hover{
	color: #ccc;
	background-color: #1d1d1d;
	height: 50px;
	width: 85%;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 40px;
	font-size: 1.2em;
}

.option:focus{
	outline: none;
	background-color: #ddd;
	color: #111;
	font-size: 1.2em;
	height: 50px;
	width: 85%;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 40px;
}

footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-shrink: 0;
	font-size: .9em;
	padding: 5px;
	background-color: #333;
}

footer a{
	color: #ddd;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

@keyframes desaparecer{
	0%{
		opacity: 100%;
	}
	
	100%{
		opacity: 0%;
	}
}

@keyframes aparecer{
	0%{
		opacity: 0%;
	}
	
	100%{
		opacity: 100%;
	}
}