*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color:  #222;
}

.quiz{
	background-color: #ccc;
	color: #222;
	padding: 10px;
	max-width: 700px;
	margin: 1.5em auto;
	border-radius: 10px;
}

.quiz h1{
	text-align: center;
	margin-top: .5em;
}

.option{
	display: block;
	padding: .5em;
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em;
	background-color: #222;
	color: #ccc;
	border-radius: 5px;
	text-align: center;
	transition: 250ms;
	cursor: pointer;
}

.option:hover{
	background-color: #444;
}

.quiImg{
	max-width: 300px;
	margin: auto;
	display: flex;
	margin-top: 1em;
	border-radius: 10px;
}

.result{
	display: flex;
	flex-direction: column;
	background-color: #ccc;
	padding: 10px;
	border-radius: 10px;
	width: 100%;
	max-width: 600px;
	margin: 1.5em auto;
}

.result h1{
	text-align: center;
	color: #222;
	margin-top: .5em;
	margin-bottom: .5em;
}

.result p{
	margin: 1em auto;
	font-size: 1.4em;
	color: #222;
	background-color: #aaa;
	padding: .5em 1em;
	font-weight: bold;
	border-radius: 10px;
}

.erros, .acertos{
	display: flex;
	height: .7em;
	border-left: 2px solid #222;
	border-radius: 0px 5px 5px 0px;
	width: 100%;
	max-width: 100%;
}

.acertos{
	background-color: #5E9732;
}

.erros{
	background-color: #AA4639;
}

.era-con, .cer-con{
	display: flex;
	flex-direction: row;
	background-color: #222;
	border-radius: 10px;
	padding: 3px;
	color: #ccc;
	width: 60%;
	min-height: 20px;
	align-items: center;
	margin: auto;
	margin-bottom: 1em;
	padding-right: 8px;
}

.era-plac, .cer-plac{
	display: inline;
	font-weight: bold;
	text-align: center;
	margin-left: .8em;
	min-width: 45%;
	border-right: 2px solid #777;
}

.intro{
	display: flex;
	flex-direction: column;
	background-color: #ccc;
	color: #222;
	max-width: 600px;
	margin: 1em auto;
	border-radius: 10px;
	padding: 10px;
}

.intro h1{
	text-align: center;
}

.intro p{
	margin: 1em auto;
	font-size: 1.4em;
	color: #222;
	background-color: #aaa;
	padding: .5em 1em;
	font-weight: bold;
	border-radius: 10px;
}

.start{
	display: flex;
	background-color: #222;
	color: #ccc;
	padding: 10px;
	border-radius: 5px;
	margin: auto;
	cursor: pointer;
	transition: 250ms;
	font-weight: bold;
}

.start:hover{
	background-color: #333;
}

.restart{
	display: flex;
	background-color: #222;
	color: #ccc;
	padding: 10px;
	border-radius: 5px;
	margin: auto;
	cursor: pointer;
	transition: 250ms;
	font-weight: bold;
}

.restart:hover{
	background-color: #333;
}

.finalImg{
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border-radius: 10px;
}